#menu, .sub-menu {
    display: none;
    list-style: none;
  }
  
  /*Change toggle size by adjusting width & height*/
  .tb-menu-toggle {
    border: 0;
    position: relative;
    background: transparent;
    cursor: pointer;
  }
  
  /*Change toggle color here*/
  .tb-menu-toggle i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    -webkit-transition:all .2s;
     -moz-transition:all .2s;
       -o-transition:all .2s;
          transition:all .2s;
  }
  .tb-menu-toggle i:nth-child(2) {
    top: 40%;
  }
  .tb-menu-toggle i:nth-child(3) {
    top: 80%;
  }
  
  /* Style the active toggle here */

  
  /*Animation of the toggle*/
  .tb-menu-toggle.tb-animate-toggle i:first-child,
  .tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
    top: 40%;
    -webkit-transform:rotate(45deg);
     -moz-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
       -o-transform:rotate(45deg);
          transform:rotate(45deg);
  } 
  .tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
    top: 40%;
    -webkit-transform:rotate(-45deg);
     -moz-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
       -o-transform:rotate(-45deg);
          transform:rotate(-45deg);
  }

  #menu li a:hover{
    color: #329df5 !important;

  }
  #menu li a:hover i{
    transform: scale(150%);
    transition: all ease-in-out 0.2s;
  }
  #menu li a:hover span{
    /* transform: translateX(110%); */

padding-left: 10px;
transition: all ease-in-out 0.2s;
transform: scale(200%);
  }